# Visual Studio
.vs/
*.user
*.suo

# Build results
bin/
obj/
[Bb]in/
[Oo]bj/

# Debug / Release folders
Debug/
Release/

# Cache files
*.cache
*.pdb
*.exe

# Visual Studio Code
.vscode/

# NuGet Packages
*.nupkg
packages/
*.snupkg

# Logs
*.log

# Temporary files
~*
*.tmp
